<script src="/WFM/Scripts/jquery-2.1.1.js"></script>

<div class="dialog-contents">
    This page periodically force the server to adress to the Active directory.
    This page periodically force the server to adress to the Active directory.<br>
    Request count: <span id ="counter">dfdsffds</span>
    <script type="text/javascript">
        setInterval(adoHB, 60000);
        var count = 1;
        function adoHB() {
            $.post("/WFM/api/Data/Login/?user=test111&password=test111", {});
            count++;
            document.getElementById('counter').innerHTML = count;
        }
  </script>

</div>