<div class='innerViewDiv' style="padding-left:30px" ng-controller="EmployeeC">
    <br>
    User name<br>
    <input data-ng-model="employee.UserName" style="width: 400px" type="text"/>    
    <br><br>
    Role:
    <br>
    <select style="width: 400px" ng-model="Role" ng-options="r.name for r in roles">
      <option value="">none</option>
    </select>
    <br>    <br>
    Surname: <br>    
    <input data-ng-model="employee.Surname" style="width: 400px" type="text"/>   
    <br><br>
    Name: <br>
    <input data-ng-model="employee.Name" style="width: 400px" type="text"/>   
    <br><br>    
    Pathronymic:<br>
    <input data-ng-model="employee.Patronymic" style="width: 400px" type="text"/>           
</div>
