<div class="innerViewDiv" ng-controller="EmployeeSetC">
     <div class="gridNavigator">
         <button class="btn btn-default" ng-click="mc.openViewForRow('Employee',gridOptions)" ng-disabled="!(gridOptions.selectedItems.length>0)">Edit</button>
         <button class="btn btn-default" ng-click="mc.openViewForNew('Employee')">Create</button>
         <button class="btn btn-default" ng-click="mc.deleteEntity(gridOptions,employees)" ng-disabled="!(gridOptions.selectedItems.length>0)">Delete</button>
    </div>    
     <div class="gridStyle" ng-grid="gridOptions"></div>
</div>  
