<div style="position:absolute; left:0px;right:0px;top:0px;bottom:0px; overflow:hidden; padding-left:10px;" ng-controller="GPUReportC">
    <button class="btn btn-default" ng-click="activeTab=0" style="margin-left:20px; margin-top:2px; line-height:12px;">Параметры</button>
    <button class="btn btn-default" ng-click="activeTab=1;openReport()" style="margin-left:10px; margin-top:2px; line-height:12px;">Просмотр</button>    
    <br>
    <div class="boxSizing" ng-show="activeTab==0" style="position: absolute; left:10px; right:10px; top:35px; padding-left:20px; bottom: 10px; border: 1px solid #cbcbcb;">
        <br>
        Отчет за период:<br>
        <br>
        <input type="radio" ng-model="selectedMode" style="vertical-align: middle; margin: 0px; margin-right:5px" value="week" name="period"><span style="vertical-align: middle">Неделя</span><br>
        <input type="radio" ng-model="selectedMode" style="vertical-align: middle; margin: 0px; margin-right:5px" value="month" name="period">Месяц<br>
        <input type="radio" ng-model="selectedMode" style="vertical-align: middle; margin: 0px; margin-right:5px" value="year" name="period">Год<br>
        <input type="radio" ng-model="selectedMode" style="vertical-align: middle; margin: 0px; margin-right:5px" value="period" name="period">Указанный период<br><br>
        
        <span style="margin-left:20px"> с </span>
        <div class="col-md-6">
            <p class="input-group">
              <input style="" type="text" class="form-control"  datepicker-popup="{{'dd.MM.yyyy'}}" ng-model="begin" is-open="openedBegin"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openBegin($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div>
        <span style="margin-left:20px">по</span> 
        <div class="col-md-6">
            <p class="input-group">
              <input type="text" class="form-control" datepicker-popup="{{'dd.MM.yyyy'}}" ng-model="end" is-open="openedEnd"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openEnd($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div>        

        <br><br>
        Фильтр:
        <br><br>
        <span>Включить в отчет только аварийные остановки или только остановки оператором:</span><br>
        <select style="width: 200px" ng-model="typeFilter" ng-options="tp for tp in types">
            <option value="">все</option>
        </select>
        <br><br>
        <span>Включить в отчет только остановки по указанной причине:</span><br>
        <select style="width: 200px" ng-model="causeFilter" ng-options="cs.Name for cs in causes">
            <option value="">все причины</option>
        </select>
        <br><br>
        <span >Включить в отчет только остановки указанной ГПУ:</span><br>
        <select style="width: 200px" ng-model="GPUFilter" ng-options="cs.Name for cs in objects">
            <option value="">все ГПУ</option>
        </select>        
    </div>
    <div ng-show="activeTab==1">   
        <br>     
       <!--<embed id='reportEmbed' src="" height="90%" width="100%" style="border: 1px solid #cbcbcb;"> -->
        <iframe id='reportEmbed' src="" height="90%" width="90%" style="position:absolute; border: 1px solid #cbcbcb;"></iframe>
    </div>
    <div ng-show="activeTab==2">
        печать
    </div>
</div>